xml_samples/xsd/profil_XSD.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="userXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="email" type="xs:string" />
        <xs:element name="enabled" type="xs:boolean" />
        <xs:element name="password" type="xs:string" />
        <xs:element name="photo" type="xs:string" />
        <xs:element name="role">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:unsignedByte" />
              <xs:element name="role" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="userName" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:unsignedShort" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>