xml_samples/xsd/profil_XSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="userXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="email"/>
        <xs:element type="xs:string" name="enabled"/>
        <xs:element type="xs:byte" name="password"/>
        <xs:element type="xs:string" name="photo"/>
        <xs:element name="role">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="id"/>
              <xs:element type="xs:string" name="role"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="userName"/>
      </xs:sequence>
      <xs:attribute type="xs:short" name="id"/>
    </xs:complexType>
  </xs:element>
</xs:schema>